body {
  background-color: #2E393F;
  color: #ECECEA;
  font-family: consolas;
  width: 550px;
  border: 15px solid ;
  padding: 20px;
  margin: auto;
}
.header1 {
  text-align: center;
}
.header4 {
  text-decoration: underline;
}
.header5 {
  text-decoration: underline;
  font-style: italic;
}
.exp-header {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  background: #2E393F 75%;
}
.web-link {
  color: #FAA828;
}
